{% extends "base.html" %}
{% block content %}

<br>

<h3 class="mb-3">USP Ranking Table</h3>
<table class="table table-sm table-striped table-responsive-sm">
  <thead>
    <tr>
      <th scope="col">USP Ranking</th>
      <th scope="col">Bosch Ranking</th>
      <th scope="col">Competitor 1</th>
      <th scope="col">Competitor 2</th>
      <th scope="col">Competitor 3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">USP 1</th>
      <td>Rank 1</td>
      <td>ABC</td>
      <td>DEF</td>
      <td>GHI</td>
    </tr>
    <tr>
      <th scope="row">USP 2</th>
      <td>Rank 2</td>
      <td>ABC</td>
      <td>DEF</td>
      <td>GHI</td>
    </tr>
  </tbody>
</table>

<br>

<h3 class="mb-3">Top 3 USPs</h3>

<p>1.</p>
<p>2.</p>
<p>3.</p>

{% endblock %}
